[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"
yapf = "*"

[packages]
django = "*"
celery = "*"
redis = "*"
pillow = "*"
django-widget-tweaks = "*"
mypy = "*"
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
